@import url(".config/sway-colours.css");

* {
	font-family: Mononoki , Hack, Roboto, Helvetica, Arial, sans-serif;
  font-size:   13px;
}

#window {
	background-color: transparent;
}

#outer-box {
	background-color: transparent;
}

#input {
	margin:           1em 0.5em;
	background-color: @bg-colour;
	border-top:       3px solid @fg-colour;
	border-left:      3px solid @fg-colour;
	border-right:     5px solid @fg-colour;
  border-bottom:    3px solid @fg-colour;
	color:            @fg-colour;
	caret-color:      @fg-colour;
	border-radius:    0.75em;
}

#inner-box {
	color: @fg-colour;
}

#scroll {
	background-color: @bg-colour;
	border-top:       3px solid @fg-colour;
	border-left:      3px solid @fg-colour;
	border-right:     5px solid @fg-colour;
  border-bottom:    3px solid @fg-colour;
	border-radius:    0.75em;
	/* prevents selected element from drawing over border */
	padding: 2px;
}

#text {
	color: white;
}

#entry {
	min-height: 2em;
}

#entry:selected {
	background-color: @border-colour;
	border:           none;
	outline:          none;
	font-weight:      bold;
}

#entry expander #entry {
	background-color: @bg-colour;
	color:            @fg-colour;
	padding-left:     2em;
}

#entry:selected expander #entry {
	background-color: @border-colour;
}
