* {
	font-family: Mononoki, Hack, Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#window {
	border-radius: 0.1em;
	background-color: rgb(29, 37, 44);
	border: 2px solid rgb(24, 30, 36);
}

#input {
	margin: 1em 3em;
	background-color: rgb(29, 37, 44);
	border: 1px solid rgb(24, 30, 36);
	border-radius: 0;
	color: white;
	caret-color: #5ec4ff;
}

#scroll {
	margin: 0 1em 1em;
	border: 1px solid #181e24;
}

#text {
	color: white;
}

#entry:selected {
	background-color: #181e24;
	border: none;
	outline: none;
	border-radius: 0;
}
