@define-color bg-colour rgba(29, 37, 44, 236);
@define-color fg-colour #eee;
@define-color border-colour #31353c;
@define-color fg-green #87ae4c;
@define-color fg-red #e86357;

* {
  font-family:   Mononoki;
  font-size:     13;
  min-height:    0;
}

window#waybar {
	background-color:    transparent;
  color:               @fg-colour;
}

#window {
	padding:          0 0.75em;
	background-color: @bg-colour;
	border-bottom:    1px solid @border-colour;
	border-right:     1px solid @border-colour;
	border-left:      1px solid @border-colour;
  border-top:       4px solid @border-colour;
	border-radius:    0.75em;
}

#workspaces { margin-left: 0.5em; }

#workspaces button,
#mode {
  padding:          0 0.75em;
	margin-right:     1em;
  background-color: @bg-colour;
  color:            @fg-colour;
	border-bottom:    1px solid @border-colour;
	border-right:     1px solid @border-colour;
	border-left:      4px solid @border-colour;
  border-top:       4px solid @border-colour;
	border-radius:    0.75em;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background:    @bg-colour;
  box-shadow:    inherit;
	text-shadow:   inherit;
	border-bottom: 1px solid @fg-colour;
	border-right:  1px solid @fg-colour;
	border-left:   4px solid @fg-colour;
  border-top:    4px solid @fg-colour;
}

#workspaces button.focused {
	background:    @bg-colour;
	border-bottom: 1px solid @fg-colour;
	border-right:  1px solid @fg-colour;
	border-left:   4px solid @fg-colour;
  border-top:    4px solid @fg-colour;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#idle_inhibitor,
#mpd.stopped,
#mpd.playing,
#mpd.paused {
  margin:           0 0.25em;
	padding:          0 0.75em;
	background-color: @bg-colour;
	border-radius:    0.75em;
	border-bottom:    1px solid @border-colour;
	border-left:      1px solid @border-colour;
	border-right:     4px solid @border-colour;
  border-top:       4px solid @border-colour;
}

#battery.charging {
	border-bottom:    1px solid @fg-green;
	border-left:      1px solid @fg-green;
	border-right:     4px solid @fg-green;
  border-top:       4px solid @fg-green;
}

#battery.critical,
#workspaces button.urgent {
	border-bottom:    1px solid @fg-red;
	border-left:      1px solid @fg-red;
	border-right:     4px solid @fg-red;
  border-top:       4px solid @fg-red;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

label:focus { background-color: #000000; }
