:root {
  --bg-colour: #1d252c;
  --text-colour: #eeeeee;
  --text-dim: #888888;
  --bg-dark: #181e24;
  --bg-dim: #121a20;
  --bg-select: #31353c;
}

#root, 
.Sidebar, 
.PinnedDock,
.box,
.panel-box,
.TabsPanel, 
.panel,
.Tab,
.NavigationBar,
.panels-box .panel-btn {
  background-color: var(--bg-colour);
}

.scrollable {
}

.Tab,
.PinnedTab,
.panels-box .panel-btn {
    background-color: var(--bg-colour);
    color: var(--text-dim);
    margin: 0.2em;
    border-top: 1px solid var(--bg-select);
    border-right: 1px solid var(--bg-select);
    border-left: 4px solid var(--bg-select);
    border-bottom: 4px solid var(--bg-select);
    border-radius: 0.75em;
}

.Tab{
    max-width: 16em;
    margin: 0.4em 0;
}

.Tab[data-active=true],
.PinnedTab[data-active=true],
.panels-box .panel-btn[data-active=true],
.Tab:hover,
.PinnedTab:hover,
.panels-box .panel-btn:hover {
    background-color: var(--bg-dark);
    color: var(--text-color);
    font-weight: bold;
    border-top:    1px solid var(--text-colour);
    border-right:  1px solid var(--text-colour);
    border-left:   4px solid var(--text-colour);
    border-bottom: 4px solid var(--text-colour);
}
