:root {
    --backhground-colour: #1d252c;
}

#TabsToolbar,
#sidebar-header {
	visibility: collapse !important;
}

#sidebar-splitter {
	min-width: 0px !important;
	max-width: 1px !important;
	background-color: #535357!important;
	border: none !important;
}

#browser, #sidebar-box, #sidebar {
  background-color: #1414140f !important;
  -moz-appearance: none !important;
  background-image: none !important;
  border: none !important;
}